.app{
    text-align: center;
}
.no-underline:hover{
    text-decoration: none;
}
.no-min-height{
    min-height: unset !important;
}
.activeStyle{
    background: rgb(204, 201, 201);
}

.f-20{
    font-size: 20px !important;
}

.f-15{
    font-size: 15px !important;
}

.red{
    color: rgb(230, 82, 82);
    display: inline-block;
    font-weight: bold;
    &:hover{
        text-decoration: none;
        color: rgb(230, 82, 82);

    }
}

.relative{
    position: relative;
}

.bold{
    font-weight: bold !important;
}



@import "./Custom";


// Helper

@import "./sass/Helper/variables";
@import "./sass/Helper/mixin";


// // Vendor

// // Base
@import "./sass/Base/reset";
@import "./sass/Base/customize";

// // Layouts
@import "./sass/Layout/header";
// @import "./sass/Layout/footer";
// @import "./sass/Layout/intro";
// @import "./sass/Layout/courses";
// @import "./sass/Layout/viewing";
// @import "./sass/Layout/banner";
// @import "./sass/Layout/categories";
// @import "./sass/Layout/students";
// @import "./sass/Layout/partners";
// @import "./sass/Layout/jobs";
// @import "./sass/Layout/sidebarMini";





// // Components
// @import "./sass/Components/button";
// @import "./sass/Components/cover";
@import "./sass/Components/card";


// Pages

// Themes
// @import "./sass/Theme/dark/resetDark";
// @import "./sass/Theme/dark/sidebarMiniDark";

// @import "./sass/Theme/dark/headerDark";
// @import "./sass/Theme/dark/footerDark";
// @import "./sass/Theme/dark/coursesDark";
// @import "./sass/Theme/dark/categoriesDark";
// @import "./sass/Theme/dark/studentsDark";
// @import "./sass/Theme/dark/partnersDark";
// @import "./sass/Theme/dark/jobsDark";

// @import "./sass/Theme/dark/buttonDark";
// @import "./sass/Theme/dark/cardDark";

